@media (min-width: 320px) and (max-width: 991px) {
    .location p {
        text-align: center;
        padding: 10px 0;
        font-size: 12px;
    }
    .welcome{
        clip-path: none;
        padding: 5px ;
        font-size: 12px;
    }
    .header-icon{
        text-align: center;
        font-size: 12px;
    }
    .header-icon ul li:hover:hover::after,
    .header-icon ul li:hover:hover::before,
    .header-icon ul li:hover:hover a::after,
    .header-icon ul li:hover:hover a::before{
        
        transition: 1s;

}
}