@media (min-width: 320px) and (max-width: 991px) {
    .location p {
        text-align: center;
        padding: 10px 0;
        font-size: 12px;
    }
    .welcome p{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
        padding: 10px ;
        font-size: 12px;
    }
    .header-icon{
        text-align: center;
        font-size: 12px;
    }
}
@media(min-width:992px){
    #mycusnav ul li{
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    #mycusnav .activenavmenu{
        opacity: 1;
        visibility: visible;
        transition: 0.3s ease-in-out;
    }
    nav {
        min-height: 100px;
        padding: 0!important;
    }
    nav .container{
        position: relative;
    }
    nav .navlogo{
        position: absolute;
        left: 50%;
        transform: translateX(-52%);
        transition: 0.3s ease-in-out;
    }
    nav .activenavlogo{
        left: 0%;
        transform: translateX(0%);
        transition: 0.3s ease-in-out;
    }
}
/*banner starts here*/
@media (min-width:320px) and (max-width:575){
    .slide-banner{
        height: 400px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .slider-icon{
        display: none;
    }
}
/*banner ends here*/
/*ABOUT US starts here*/
@media (min-width:836px) and (max-width:991px){
    .about-us-img img {
        display: none;
    }
    .about-us-content {
        padding-left: 0px;
        margin-left: 20px;
    }
    .about-us-content p{
        font-size: 14px;
    }
    .about-us-content .nav.nav-tabs .nav-link.active,
    .about-us-content .nav.nav-tabs ul li{
        display: inline-block;
    }
    .about-us-content .nav.nav-tabs .nav-item {
    
        padding-right: 0px;
        padding-bottom: 10px;
    }
}
@media (min-width:320px) and (max-width:835px){
    .about-us-img {
        display: none;
    }
    .about-us-content{
        width: 100%;
    }
    .about-us-content h2{
        text-align: center;
        margin-bottom: 30px;
    }
}
/*ABOUT US ends here*/

/*nav bar starts here*/
@media (min-width:332px) and (max-width:991px){
    #mycusnav ul{
        text-align: center;
    }
    #mycusnav ul li{
        display: inline-block;
    }
    #mycusnav ul li a{
        display: inline-block;
      }
    #mycusnav ul li a::after {
        width: 20%;
        left: 40%;
    }
    #mycusnav ul li a::before {
        width: 20%;
        left: 40%;
    }
    #mycusnav ul li::after {
        top: 0;
        left: 40%;
      }
      #mycusnav ul li::before {
          top: 0;
          right: 40%;
      }
}
/*nav bar starts here*/
/*OUR PORTFOLIO starts here*/
@media (min-width:992px) and (max-width:1200px){
    .img-item img{
        width: 215px;
      }
    .img-item{
        width: 215px;
      }
}
@media (min-width:768px) and (max-width:991px){
    .portfolio-img{
        justify-content: space-evenly;
    }
    .img-item{
        margin-bottom: 50px;
        width: 270px;
    }
    .img-item img{
        width: 270px;
      }
    
}
@media (min-width:320px) and (max-width:767px){
    .portfolio-img{
        justify-content: space-evenly;
    }
    .img-item{
        margin-bottom: 20px;
        width: 290px;
    }
    .img-item img{
        width: 290px;
      }
}
/*OUR PORTFOLIO ends here*/
/*blogs starts here*/
@media (min-width:768px) and (max-width:991px){
    #blog .blog-content{
        padding: 60px 10px 10px 10px;
        
      }
      #blog .blog-Slider-Content.slick-center .blog-content {
        transform: translateY(-75px);
    }
}
/*blogs ends here*/
