@media (min-width: 320px) and (max-width: 991px) {
    .location p {
        text-align: center;
        padding: 10px 0;
        font-size: 12px;
    }
    .welcome{
        clip-path: none;
        padding: 5px ;
        font-size: 12px;
    }
    .header-icon{
        text-align: center;
        font-size: 12px;
    }
}
@media(min-width:992px){
    #mycusnav ul li{
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    #mycusnav .activenavmenu{
        opacity: 1;
        visibility: visible;
        transition: 0.3s ease-in-out;
    }
    nav {
        min-height: 100px;
        padding: 0!important;
    }
    nav .container{
        position: relative;
    }
    nav .navlogo{
        position: absolute;
        left: 50%;
        transform: translateX(-52%);
        transition: 0.3s ease-in-out;
    }
    nav .activenavlogo{
        left: 0%;
        transform: translateX(0%);
        transition: 0.3s ease-in-out;
    }
}
